
/* Стили для заголовка */
.header {
  font-family: Raleway, sans-serif;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}


.header-menu {
  display: flex;
  flex-direction: row;
  column-gap:32px;
  padding-top: 133px;
  padding-bottom: 138px;
}

.header__links-list {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  list-style: circle;
}

.links-list-active {
  list-style: none;
}

.menu-item {
  text-underline-offset: 5px;
}

.link-active {
  text-decoration: none;
  
}

.header__logo-image {
  width: 148px;
  height: 105px;
  display: inline-block;

}

.adress {
  max-width:240px;
  justify-self:end;
  font-style: normal;
  line-height: 24.3px;
  font-size: 18px;
}

.header__address {
  justify-self: end;
}

.item-underline {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.cover {
  font-family: Raleway, sans-serif;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  z-index:0;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index:0;
  inset:0;
}

.cover__title {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color:#FFFFFF;
  z-index:1;
  padding-top: 165px;
  row-gap: 20px;
}

.aligned-text {
  align-self:start;
  z-index:1;
}

.aligned-text_center {
  align-self:center;
  z-index:1;
  padding-left: 25px;
}

.aligned-text_right {
  align-self: end;
  z-index:1;
  letter-spacing: 0.3em;
}


.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  flex-direction: row;
  z-index:1;
  padding-top:106px;
}

.cover__description-text {
  display: inline-block;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  word-spacing: 18px;
  z-index:1;
  align-self: center;
  padding-right: 107px;
}

.bet-button {
  display: inline-block;
  width: 256px;
  height: 51px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  z-index:1;
  text-decoration: none;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.lots {
  font-family: Raleway, sans-serif;
  padding-top: 180px;
}

.section-headers {
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 64px;

}

.lot-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 25px;
  gap: 25px;
}

.lot-cards-item {
  list-style: none;
  width: 334px;
  min-height: 596px;
}

.card-href {
  height: 100%;
  text-decoration: none;
  z-index:1;
}

.card {
  display: flex; 
  flex-direction: column;
  padding: 48px 40px;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card-about-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-about-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-about-art {
  background-image: url(../images/card-lot-03.jpg);
}

.cards-header {
  position:relative;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index:1;
  
}

.information-about-lot {
  position: relative;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  text-decoration: none;
  width: 254px;
  z-index:1;
  margin-top: auto;

}

.see-more-href {
  display: block;
  padding-top: 30px;
  font-size: 20px;
  margin-left: 64px;
  line-height: 23px;
  color: #000000;
}

.about {
  font-family: Raleway, sans-serif;
  display: grid;
  grid-template-columns:  334px 1fr;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 120px;
}

.about__logo {
  padding-top: 35px;
  padding-left:47px;
}

.logo-about {
  display: flex;
  flex-direction: row;
  height: 240px;
  width: 240px;
  background-color: black;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.logo-about-img {
  width: 148px;
  height: 114px;
  
}

.about-section-text {
  padding-top: 136px;
  padding-left: 25px;
}

.header-about {
  padding-bottom: 100px;
}

.text {
  display:flex;
  flex-direction: column;
  row-gap: 24px;
}

.about-text {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  width:688px;
  padding-right: 5px;
}

.footer {
  font-family: Raleway, sans-serif;
  padding-top: 180px;
  padding-right: 50px;
  padding-left: 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  
}

.footer-contacts {
  max-width:270px;
  justify-self: start;
  padding-bottom: 82px;
}


.footer-menu {
  display: flex; 
  flex-direction: column;
  width: 350px;
}

.footer-item {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  text-align: center;
  
}

.footer-menu-item {
  text-underline-offset: 5px;
}

.footer-item-active {
  text-decoration: none;
}

.footer-menu-social {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
  justify-self: end;
}

.footer-menu-social-item {
  list-style: none;
}

.footer-menu-social__icon {
  height: 48px;
  width: 48px;
}